body {
    background-color: #CBCED3;
}

#wrapper {
    min-height:100%;
    position: relative;
}

#header {
    background-color: #35414D;
    text-align: center;
    max-width: 150%;
    padding: 3em 0em;
    margin: -20px -20px 0px -20px;
}

#header-strip {
    background-color: #667985;
    height: 15px;
    margin: 0px -20px 0px -20px;
}

#byline {
    color: #989FA6;
    font-family: "verdana";
}

#logo {
    max-width: 25%;
    max-height: 25%;
    text-align: center;
    padding-bottom: 1em;
}

#intro-content {
    padding: 2em 0em;
}

#intro {
    text-align: left;
    font-size: 20px;
    font-family: "verdana";

}

.create-button {
    color: white;
    background-color: #989FA6;
    padding: .3em .5em;
}

.submission {
    margin-top: 1em;
}

#error-alert {
    color: #970202;
    vertical-align: middle;
    padding-left: 1em;
}

.error-alert {

}

.hidden {
    visibility: hidden;
}

#create-button-list {
    float: right;
}

#create-button-form {
    margin-top: 1em;
}

.update-icons {
    float: right;
    padding: 0em .25em;
    color: #667985;
}

.edit-icon {
    margin-top: 1px;
}

.posts {
    -webkit-box-shadow:inset 10px 10px 50px 1px #E0E0E0;
    box-shadow:inset 10px 10px 50px 1px #E0E0E0;
    background-color: white;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: .5em;
    padding: 1.5em 2em 2em 2em;
}


.post-title:link, .post-title:visited, .post-title:hover, .post-title:active {
  text-decoration: none;
  color: #719FB1;
  font-size: 25px;
  line-height: 200%;
}

.post-title:hover {
    color: #667985;
}

.post-date {
    color: #35414D;
    line-height: 200%;
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative
}

.form-title {
    color: #719FB1;
    font-size: 25px;
    padding-bottom: 1em;
}

.form-label {
    color: #56626C;
}

.form-input {
    width: 100%;
    border-radius: .25em;
    border: 1px solid #ccc;
    padding: .25em;
}

/* Custom styles for input box */
.input-box {
    padding-bottom: .75em;
}

input:focus {
    outline: none;
    border-color: #719FB1;
    box-shadow: 0 0 10px #719FB1;
}

textarea:focus {
    outline: none;
    border-color: #719FB1;
    box-shadow: 0 0 10px #719FB1;
}

#post-container {
    white-space:normal;
}

#post-container div {
    cursor:default;
    display: block;
    float: left;
    background-color: white;
}

#post-container nav {
    cursor:default;
    display: block;
    float: left;
    background-color: white;
}

#single-post-content {
    -webkit-box-shadow:inset 10px 10px 50px 1px #E0E0E0;
    box-shadow:inset 10px 10px 50px 1px #E0E0E0;
    border-radius: .5em;
    margin: 0em;
    padding: 3em;
    cursor:default;
    white-space: nowrap;
    display: block;
    background-color: white;
    white-space:normal;
    margin-bottom: 3em;
}

#post-header {
    padding: 0em 0em 1em 0em;
}

#post-title {
    font-size: 35px;
    color: #667985;
}

#post-created-date {
    float: right;
    color: #667985;
    font-weight: bold;
    padding-top: 1em;
}

#thumbnail {
    width: 55px;
    height: 55px;
    border-radius: 5em;
}

#post-title {
    font-size: 30px;
    color: #667985;
}

#post-author-info {
    padding: .5em 0em 1em 0em;
}

#post-byline {
    vertical-align: sub;
    padding: 1em 4em;
    line-height: 0px;
    font-size: 18px;
}

#post-author {
    font-weight: bold;
    color: #719FB1;
}

#post-category {
    font-weight: bold;
    padding: 0em 5em;
    font-family: georgia;
}

#post-content {
    font-size: 15px;
    line-height: 160%;
    padding: 1em 0em;
}

#footer {
    background-color: #667985;
    height: 30px;
    /*margin: 0px -20px 0px -20px;*/
    position: absolute;
    /*width:100%;
	height:100px;*/
	position:absolute;
	bottom:0;
	left:0;
}

@media screen and (max-width: 900px) {
    #logo {
        max-width: 30%;
        max-height: 30%;
    }
}

/* Styles for mobile screen size */
@media screen and (max-width: 770px) {
    #intro {
        text-align: center;
        padding: 0em 0em 1.5em 0em;
        position: relative;
        font-size: 18px;
    }

    .update-icons {
        float: none;
        padding: 0em .25em;
    }

    #logo {
        max-width: 45%;
        max-height: 45%;
    }

    #icons-mobile {
        /*position: absolute;
        top: 65%;
        left: 45%;*/
        padding-top: 1em;
        margin-left: 40%
    }
}

@media screen and (max-width: 400px) {
    #icons-mobile {
        /*position: absolute;*/
        /*top: 65%;
        left: 38%;*/
        margin-left: 40%
        padding-top: 1em;
    }
}
