body {
    background-color: #CBCED3;
}

#header {
    background-color: #35414D;
    text-align: center;
    max-width: 150%;
    padding: 3em 0em;
    margin: -20px -20px 0px -20px;
}

#header-strip {
    background-color: #667985;
    height: 15px;
    margin: 0px -20px 0px -20px;
}

#byline {
    color: #989FA6;
    font-family: "verdana";
}

#logo {
    max-width: 25%;
    max-height: 25%;
    text-align: center;
    padding-bottom: 1em;
}

#intro-content {
    padding: 2em 0em;
}

#intro {
    text-align: left;
    font-size: 20px;
    font-family: "verdana";

}

.create-button {
    float: right;
    color: white;
    background-color: #989FA6;
    padding: .3em .5em;
}

.posts {
    background-color: white;
    margin-right: 1em;
    border-radius: .5em;
    padding: 2em;
}

.post-title:link, .post-title:visited, .post-title:hover, .post-title:active {
  text-decoration: none;
  color: #719FB1;
  font-size: 25px;
}

.post-title:hover {
    color: #667985;
}

.post-date {
    color: #35414D;
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative
}

#buttons {
    white-space:normal;
}
#buttons div {
    cursor:default;
    /*padding:10px;*/
    white-space: nowrap;
    display: block;
    float: left;
    background-color: white;
    /*margin: 5px;*/
}

#footer {
    background-color: #667985;
    height: 30px;
    margin: 0px -20px 0px -20px;
}
