<!DOCTYPE html>
<html>
    <head>
        <title>Space.</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/magnific-popup.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="/js/angular.min.js"></script>
        <script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript">
            angular.module('MyApp', []);
        </script>
    </head>
    <body ng-app="MyApp">
        <!-- Header with logo -->
        <div ng-include="'/header.html'"></div>
        <!-- Main content -->
        <div class="row content-container">
            <!-- Instructions and CRUD icons -->
            <div id="intro-content">
                <div class="hidden-xs">
                    <span class="intro">Create, view, and edit your posts. </span>
                    <!-- Icons for creating new posts and navigating to home -->
                    <a href="/users" role="button"><i class="fa fa-home fa-2x update-icons"></i></a>
                    <a href="#test-form" class="popup-with-form" role="button"><i class="fa fa-pencil-square-o fa-2x update-icons edit-icon"></i></a>
                </div>
                <div class="visible-xs">
                    <div class="intro">Create, view, and edit your posts. </div>
                    <div id="icons-mobile-home">
                        <a href="/users" role="button"><i class="fa fa-home fa-2x update-icons"></i></a>
                        <a href="#test-form" class="popup-with-form" role="button"><i class="fa fa-pencil-square-o fa-2x update-icons edit-icon"></i></a>
                    </div>
                </div>
            </div>
            <!-- Layout of all the posts -->
            <nav id="post-container">
                <% if (users.length) { %>
                    <% for (var i in users) { %>
                    <div class="posts" >
                        <a href="/users/<%= users[i].title %>" class="post-title"><%= users[i].title %></a><br>
                        <span class="post-date"><%= users[i].createdDate %></span>
                    </div>
                    <% } %>
                <% } else { %>
                <p>Sorry, there are no posts yet.</p>
                <% } %>
            </nav>
            <!-- Hidden form pops up when the "Create" icon is presses -->
            <div ng-include="'/formCreate.html'"></div>
            <script src="/js/form.js"></script>
        </div>
        <!-- Footer with product info and logo source credit -->
        <div ng-include="'/footer.html'"></div>
    </body>
</html>
