<!DOCTYPE html>
<html>
    <head>
        <title>Space.</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/magnific-popup.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
    </head>
    <body>
        <div class="row" id="header">
            <img src="/img/logo.jpg" id="logo"></img>
            <div id="byline">Where your thoughts have room to breathe.  </div>
        </div>
        <div class="row" id="header-strip"></div>
        <div class="col-lg-10 col-lg-offset-1">
            <div id="intro-content">
                <span id="intro">Create, view, and edit your posts. </span>
                <a href="#test-form" class="btn btn-secondary btn-lg active popup-with-form create-button" role="button">Create</a>
            </div>

            <nav id="buttons">

            <% if (users.length) { %>
                <% for (var i in users) { %>
                <div class="posts" >
                    <a href="/users/<%= users[i].title %>" class="post-title"><%= users[i].title %></a><br>
                    <span class="post-date">time</span>
                </div>
                <% } %>
            <% } else { %>
            <p>Sorry, there are no posts yet.</p>
            <% } %>

            </nav>

            <!-- link that opens popup -->

            <form action="/users" method="POST" id="test-form" class="mfp-hide white-popup-block">
                <h3>New Post</h3>

                <p>
                <label>Title</label>
                <input type="text" id="title" name="title" value="" />
                </p>

                <p>
                <label>Author</label>
                <input type="text" id="author" name="author" value="" />
                </p>

                <p>
                <label>Category</label>
                <input type="text" id="category" name="category" value="" />
                </p>

                <p>
                <label>Content</label>
                <input type="text" id="content" name="content" value="" />
                </p>

                <p>
                <label>Thumbnail Images</label>
                <input type="text" id="thumbnailImage" name="thumbnailImage" value="" />
                </p>

                <p>
                <label>Created Date</label>
                <input type="text" id="createdDate" name="createdDate" value="" />
                </p>

                <!-- <a href="#test-form" class="btn btn-secondary btn-lg active popup-with-form" id="create-button" role="button">Create</a> -->
                <button class="btn btn-secondary btn-lg active popup-with-form create-button">Create</button>
            </form>

            <script>
                $(document).ready(function() {
                    $('.popup-with-form').magnificPopup({
                        type: 'inline',
                        preloader: false,
                        focus: '#name',

                        // When elemened is focused, some mobile browsers in some cases zoom in
                        // It looks not nice, so we disable it:
                        callbacks: {
                            beforeOpen: function() {
                                if($(window).width() < 700) {
                                    this.st.focus = false;
                                } else {
                                    this.st.focus = '#name';
                                }
                            }
                        }
                    });
                });
            </script>
        </div>

        <!-- <div id="footer"></div> -->
    </body>
</html>
